body{
  font-family: sans-serif;
  font: size 100%;
background-image:url(../wallpaperflare.com_wallpaper.jpg);
background-size: cover;
background-position: center;
  display:flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: lightblue;
}

footer {
  background-color: #343330;
  text-align: center;
}

body{
  border: 20px;
  border-style: inset;
  border-color: rgb(53, 53, 241);


  
}


.sidebar{
  background-color: aquamarine;
  width: 30%;
} 
#navlist{ 
  list-style-type:lower-alpha;
}
#icons{
  width: 3rem;
  margin: 0.5rem;
  height: auto
}

.main{
  display: flex;
  overflow: unset;
}
@media( min-width: 760px) {
  .body{
    grid-template-columns: repeat(2,1 );
    grid: 2em;
  }
}

img {
  max-width: 500px;
  height: auto;
}